h4 {
    background-color: white;
    border-radius: 10px;
    border: outset;
    margin-inline: auto;
}

.about__paragraph {
    text-align: justify;
    flex-shrink: unset;
    color: darken($color: black, $amount: 15);
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px 10px 5px;
    border: outset;
}

.about__pic1 {
    background-image: url('../../assets/images/about-pic1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
    margin-bottom: 10px;
}

.about__pic2 {
    background-image: url('../../assets/images/about-pic2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
    margin-bottom: 10px;
}

.about__pic3 {
    background-image: url('../../assets/images/about-pic3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
    margin-bottom: 10px;
}

.about__pic4 {
    background-image: url('../../assets/images/about-pic4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
    margin-bottom: 10px;
}