.carousel__caption {
    justify-content: center;
}

.slide__pic1 {
    background-image: url('../../assets/Transparent/Artboard_6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: -webkit-fill-available;
}

.slide__pic2 {
    background-image: url('../../assets/images/slidepic3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: -webkit-fill-available;
}
.slide__pic3 {
    background-image: url('../../assets/images/slidepic2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: -webkit-fill-available;
}

.slide__paragraph {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    flex-shrink: unset;
    color: darken($color: $dark-yellow, $amount: 15);
    background-color: white;
    font-weight: 800;
    border-radius: 10px;
    border: outset;
    padding: 5px 10px 10px 5px;
    background: none;
    border: none;
}