
.contact__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 80vh; // view height
    width: 100vw; // view width
}

.contact__paragraph {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    flex-shrink: unset;
    color: darken($color: $dark-yellow, $amount: 15);
    background-color: white;
    border-radius: 10px;
    border: outset;
    padding: 5px 10px 10px 5px;
}

.contact__box-container {
    background-color: white;
    box-shadow: 5px 5px $dark-yellow;
    border-radius: 10px;
    padding: 20px;
    width: 50vw;
    border-style: outset;
    box-sizing: content-box;
    
    textarea {
        height: auto;
    }
}

.contact__title {
    color: darken($color: $dark-blue, $amount: 20);
    margin-bottom: 10px;
}

.contact__list {
    list-style-type: none;
}

.contact__input {
    color: $dark-blue;
    border: 0px;
    border-bottom: 1px solid $light-blue;
    font-size: 15px;
    height: 20px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    
    transition: border-bottom .3s ease;

    // the & here would do the same as declaring the focus for this
    // class outside ('.auth__input:focus' on a normal css file)
    &:focus {
        border-bottom: 1px solid $dark-blue;
        outline: none;
    }
}

.contact__alert-error {
    background-color: lighten($color: red, $amount: 20);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    display: flex;
}

.link {
    display: flex;
}