
.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: outset;
}

.footer__header {
    display: flex;
    align-items: baseline;
}

.footer__navigation {
    justify-content: space-between;
}

.footer__whatsapp {
    position: fixed;
    height: 70px;
    bottom: 0;
    display: flex;
    width: 85%;
    justify-content: flex-end;

}

.footer__whatsapp a{
    color: green;
}

a {
    text-decoration-line: none;
}