
.container {
    background-color: $dark-blue;
    border-radius: 10px;
    border: outset;
    color: white;
}

.footer__header {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer__navigation {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer__col {
    text-align-last: center;
    flex: auto;
}

.footer__flex-column {
    text-align-last: center;
    flex: auto;
    align-content: center;
}

.footer__whatsapp {
    position: fixed;
    height: 70px;
    bottom: 0;
    display: flex;
    width: 85%;
    justify-content: flex-end;

}

.footer__whatsapp a{
    color: green;
}

a {
    text-decoration-line: none;
}

@media screen and (max-width: 767px){
    .footer__navigation {
        display: flex !important;
    }

}