
.home__main-content {
    padding-left: 8%;
    color: darken($color: $dark-yellow, $amount: 15);
}

.home__main-content ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.home__paragraph {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    flex-shrink: unset;
    color: darken($color: $dark-yellow, $amount: 15);
}

.home__picture {
    background-image: url('../../assets/images/homepic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home__picture2 {
    background-image: url('../../assets/images/homepic2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home__profile1 {
    background-image: url('../../assets/images/profile1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home__profile2 {
    background-image: url('../../assets/images/profile2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home__profile3 {
    background-image: url('../../assets/images/profile3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fa-solid {
    color: $dark-blue;
}

ul li{
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
    color: $dark-blue;
}

h4 {
    color: darken($color: $dark-yellow, $amount: 15);
}

.card-title {
    color: $dark-blue;
}

.card-text {
    color: darken($color: $dark-yellow, $amount: 15);
}

.home__button {
    text-align-last: center;
}