

.navbar__container {
    background-color: lighten($color: $mid-blue, $amount: 10);
}

.navbar__container a{
    background-color: lighten($color: $mid-blue, $amount: 10);
    color: white;
}

.navbar__container button{
    background-color: lighten($color: $mid-blue, $amount: 10);
    color: white;
}

.navbar__icon {
    background-image: url('../../assets/Transparent/Artboard_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}